body
{
	background:linear-gradient(to right, yellow, aqua);
}
.mySpan 
{
	color: red;
	font-size: 300%; 
	font-family: serif;
	position: relative; 
	top: 5px;
}
.myDiv
{
	color: gray; 
	font-family: fantasy;
	position: relative; 
	top: 5px;
}