table {
  width: auto;
  height: auto;
  border-collapse: collapse;
  border: 1px black solid;
}

td
{
  height: 50px;
  width: 50px;
  border: 1px black solid;
}
<style type="text/css">
   body {
    font-size: 1.5em; /* Размер текста */
   }
   td { padding: 5px; }
   td.proc {}
   td.col1 { background: #FFFFFF; }
   td.col2 { background: #FFFF00;}
   td.col3 { background: #FFFFCC; }
   td.col4 { background: #FF33FF; }
   td.col5 { background: #000000; }
   td.col6 { background: #33FF66; }
   td.col7 { background: #003366; }
   td.col8 { background: #33CC00; }
   td.col9 { background: #330033; }
  </style>

